doctype html
html
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
		link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Lato")
		link(rel='stylesheet', href='/stylesheets/materialize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
body
	nav
		.nav-wrapper
			a.brand-logo(href='#') Logo
			ul#nav-mobile.right.hide-on-med-and-down
				li
					a(href='#') Connect
				li
					a(href='#') Team
				li
					a(href='#') Newsletter
				li
					a(href='#') Events
				li
					a(href='#') Tumblr
	block content
		