
body { 
	padding: 50px;
	font-family: 'Lato', sans-serif;
 }

#banner { 
	background-color: #335075;
	color: #ffffff;
	text-align: center;	
	padding: 4em;

	h2 { 
	}
}

.header-image img { 
	width: 50%;
 }